body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;      
}
.nav{
    display: flex;     
    flex-direction: row;    
    background-color: black;   
    font-size: 25px;
    font-weight: bold;
    margin: 0;  
    padding-right: 30px;  
   
}
.linknav{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    color: white;
}
.question{
    font-size: 25px;
    font-weight: bold;    
}
.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.form-example {
    display: flex;
    flex-direction: column;
    align-items: center;    
    
  }
  .verso{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 50px;
  }
  .form-polls {
    display: flex;
    flex-direction: column;
    align-items: left;     
  }
  .buttonpolls{
    width: 200px;
  }
  #name, #senha {
    text-align: center;
    width: 400px;}
   .navbloco{
     display: flex;
     flex-direction: row;     
    }