{% extends 'home.html' %}

{% block title %}Gabarito Simple Present{% endblock %}

{% block content %}

<h1 class="block text-center text-2xl font-bold text-gray-600 sm:text-4xl">Gabarito</h1>  
<h3 class="block px-10 text-xl font-bold text-gray-600 sm:text-xl">Resposta Questão 1</h3>  

{% for question,answer in question_list %}
<div class="text-left px-10">
    <p class="mt-3 text-gray-500">Sua resposta: {{answer}}</p>
    <p class="mt-3 text-gray-500">Resposta correta: {{question.resposta}}</p>
</div>
{% endfor %}
<h3 class="block px-10 text-xl font-bold text-gray-600 sm:text-xl">Resposta Questão 2</h3>  
{% for question,answer in question_list_table %}
<div class="text-left py-1 px-10">
    <p class="mt-3 text-gray-500">Sua resposta: {{answer}}</p>
    <p class="mt-3 text-gray-500">Resposta correta: {{question.resposta}}</p>
</div>
{% endfor %}
<br/>

{% endblock %}