{% extends 'home.html' %}

{% block title %}Gabarito Simple & Continuous Present{% endblock %}

{% block content %}
{% if question_list %}
<h1 class="block text-center text-2xl font-bold text-gray-600 sm:text-4xl">Gabarito</h1>  
{% for answer,question in question_list %}
<div class="text-left py-1 px-10">
    <p class="mt-3 text-lg text-gray-500">{{question.pergunta}}</p>
    <p class="mt-3 text-lg text-gray-500">Sua resposta: {{answer}}</p>
    <p class="mt-3 text-lg text-gray-500">Resposta correta: {{question.resposta}}</p>
</div>
{% endfor %}
<br/>
{% endif %}
{% endblock %}