{% extends 'home.html' %}

{% block title %}Simple & Continuous Present{% endblock %}

{% block content %} 
<div class="text-left py-1 px-10">
    <h1 class="block text-2xl font-bold text-gray-600 sm:text-4xl">Simple & Continuous Present</h1>
    <p class="mt-3 text-lg text-gray-500">Read the paragraph and answer the questions:
        <br/>
        Brian is a doctor. He looks after sick people. He usually gets up at 6.00 o’clock. Today he is
        late, it is 6.30 and he is still in bed. He usually goes to work by train but today he is driving to
        work. He arrives at work at 6.30 every morning but it is 7.30 now and he is still driving.
        It’s 12.00 o’clock now. He always has his lunch at 12.00 but today he isn’t having lunch at
        12.00, he is looking after his sick patients. It is half past seven now, Brian is watching TV. He
        usually watches TV at half past seven because his favorite programme starts at half past seven.
        Brian has his dinner at 8.30 everyday and he is having dinner now.
        It is 24.00 now Brian is going to bed. He always goes to bed at 24.00.</p>
    <p >
    <form action="{% url 'resultsimplecontinuouspresent' %}" method="get" class="form-polls">
    {% for question in question_list %}    
    {% if question.id <= 10 %}  
        <label for={{question.id}}>{{ question.pergunta }}</label>
        <br/>
        <input type="text"  name='{{question.id}}'   />
        <br/>     
      {% endif %}
      {% endfor %}  
      <br/>
      <p class="mt-3 text-lg text-gray-500"> Fill in the blanks with PRESENT CONTINUOUS or SIMPLE PRESENT:</p>
      <br/>
      {% for question in question_list %}  
      {% if question.id > 10 %} 
      <label for={{question.id}}>{{ question.pergunta }}</label>
      <br/>
      <input type="text"  name='{{question.id}}'   />
      <br/>
      {%endif%}
      {% endfor %}
      <input class="bg-gray-700 ml-10 mb-10 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-50" type="submit" value="Responder" />
    </form>
</p>
</div>
{% endblock %}