{% extends 'home.html' %}

{% block title %}Simple Present{% endblock %}

{% block content %} 
<h1 class="block text-center px-10 text-2xl font-bold text-gray-600 sm:text-4xl">Simple Present</h1>
<p class="mt-3 px-10 text-lg text-gray-500"> Read the questions & answers about ALAN and ask and answer about JUDITH.</p>
      
<p class="px-10">
    <b>What does Alan do?</b><br>
    Alan’s a lorry driver. 
  </p>
  
  <p class="px-10">
    <b>How old is Alan?</b><br>
    He’s twenty-five years old. 
  </p>
  
  <p class="px-10">
    <b>How many days a week does he work?</b><br>
    He works five days a week. 
  </p>
  
  <p class="px-10">
    <b>What time does he get up?</b><br>
    He gets up at six o’clock every day. 
  </p>
  
  <p class="px-10">
    <b>What does he eat for breakfast?</b><br>
    He eats an enormous breakfast. 
  </p>
  
  <p class="px-10">
    <b>What does he drink?</b><br>
    He drinks two cups of tea. 
  </p>
  
  <p class="px-10">
    <b>What does he do after breakfast?</b><br>
    Then he kisses his wife. 
  </p>
  
  <p class="px-10">
    <b>What time does he leave for work?</b><br>
    He leaves for work at half past six. 
  </p>
  
  <p class="px-10">
    <b>Where does he have lunch?</b><br>
    He has lunch in a transport café. 
  </p>
  
  <p class="px-10">
    <b>What time does he come home?</b><br>
    He comes home at five o’clock. 
  </p>
  
  <p class="px-10">
    <b>Where does he go in the evening?</b><br>
    In the evening he goes to the pub. 
  </p>
  
  <p class="px-10">
    <b>What time does he go to bed?</b><br>
    He goes to bed at ten o’clock. 
  </p>
  <br/>
  <p class="mt-3 px-10 text-lg text-gray-500"> JUDITH.</p>
<form class="px-10"  action="{% url 'resultsimplepresent' %}" method="get" class="form-polls">
  {% for question in question_list %}  
  
  <input type="text"  name='{{question.id}}'   />
  <br/>
  <label for={{question.id}}>{{ question.pergunta }}</label>
  <br/>    
  {% endfor %}  
  <br/>


<p class="mt-3 px-10 text-lg text-gray-500">Fill in the chart for yourself. Then look at the example. Choose and write TEN sentences
  from the chart:</p>
<table class="w-600 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs  text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
  <tr class="table-auto border-collapse border border-gray-300">
  <th class="table-auto border-collapse border border-gray-300"></th>
  <th class="table-auto px-4 text-center border-collapse border-left border-top border-bottom border-gray-300">Always</th>
  <th  ></th>
  <th class="table-auto px-4 text-center border-collapse border-left border-top border-bottom border-gray-300">Usually</th>
  <th ></th>
  <th class="table-auto px-4 text-center border-collapse border-left border-top border-bottom border-gray-300">Often</th>
  <th ></th>
  <th class="table-auto px-4 text-center border-collapse border-left border-top border-bottom border-gray-300">Sometimes</th>
  <th ></th>
  <th class="table-auto px-4 text-center border-collapse border-left border-top border-bottom border-gray-300">Never</th>
  </tr>
  <tr class="table-auto text-center border-collapse border border-gray-300">
  <th class="table-auto text-center border-collapse border border-gray-300"></th>
  <th class="table-auto px-2 text-center border-collapse border border-gray-300">Tom</th>
  <th class="table-auto px-2 text-center border-collapse border border-gray-300">You</th>
  <th class="table-auto px-2 text-center border-collapse border border-gray-300">Tom</th>
  <th class="table-auto px-2 text-center border-collapse border border-gray-300">You</th>
  <th class="table-auto px-2 text-center border-collapse border border-gray-300">Tom</th>
  <th class="table-auto px-2 text-center border-collapse border border-gray-300">You</th>
  <th class="table-auto px-2 text-center border-collapse border border-gray-300">Tom</th>
  <th class="table-auto px-2 text-center border-collapse border border-gray-300">You</th>
  <th class="table-auto px-2 text-center border-collapse border border-gray-300">Tom</th>
  <th class="table-auto px-2 text-center border-collapse border border-gray-300">You</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-auto border-collapse border border-gray-300">
  <td class="table-auto border-collapse border border-gray-300">Drink fizzy drinks</td>
  <td class="table-auto text-center border-collapse border border-gray-300">*</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  </tr>
  <tr class="table-auto border-collapse border border-gray-300">
  <td class="table-auto border-collapse border border-gray-300">buy fast food</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto text-center border-collapse border border-gray-300">*</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  </tr>
  <tr class="table-auto border-collapse border border-gray-300">
  <td class="table-auto border-collapse border border-gray-300">play tennis</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto text-center border-collapse border border-gray-300">*</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  </tr>
  <tr class="table-auto border-collapse border border-gray-300">
  <td class="table-auto border-collapse border border-gray-300">eat sweets</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto text-center border-collapse border border-gray-300">*</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  </tr>
  <tr class="table-auto border-collapse border border-gray-300">
  <td class="table-auto border-collapse border border-gray-300">watch TV in the evenings</td>
  <td class="table-auto text-center border-collapse border border-gray-300">*</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  </tr>
  <tr class="table-auto border-collapse border border-gray-300">
  <td class="table-auto border-collapse border border-gray-300">save money</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto text-center border-collapse border border-gray-300">*</td>
  </tr>
  <tr class="table-auto border-collapse border border-gray-300">
  <td class="table-auto border-collapse border border-gray-300">listen to cassettes</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto text-center border-collapse border border-gray-300">*</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  </tr>
  <tr class="table-auto border-collapse border border-gray-300">
  <td class="table-auto border-collapse border border-gray-300">play computer games</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto text-center border-collapse border border-gray-300">*</td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  <td class="table-auto border-collapse border border-gray-300"></td>
  </tr>
  </tbody>
  </table>
<br/>
<p >Example: Tom always drinks fizzy drinks.</p>
{% for question_table in question_list_table %}
<p >{{ question_table.pergunta }}
  <br/>
<input  type="text"  name='{{question_table.id}}'   />
</p>
{% endfor %}
<br/>
<br/>
<input class="bg-gray-700 ml-10 mb-10 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-50" type="submit" value="Responder" />
</form>
<br/>


{% endblock %}